 #map {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            color: blue;
        }

        .effective,
        .effective svg {
            position: absolute;
        }

        .marker svg {
            width: 60px;
            height: 35px;
            padding-right: 100px;
            font: 12px sans-serif;
        }


        .marker circle {
            fill: #3587D4;
            stroke: black;
            stroke-width: 1px;
        }